{% extends 'user_connected_base.html.twig' %}

{% block title %}Hello DestinationController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a
                            href="{{ 'C:/Users/Nathan/Desktop/Workspace/Symfony/agenceVoyage/src/Controller/SejourController.php'|file_link(0) }}">src/Controller/SejourController.php</a></code>
            </li>
            <li>Your template at <code><a
                            href="{{ 'C:/Users/Nathan/Desktop/Workspace/Symfony/agenceVoyage/templates/sejour/detail.html.twig'|file_link(0) }}">templates/sejour/detail.html.twig</a></code>
            </li>
        </ul>

        <h2>
            {% if longueur == 'court' %}
                Petit séjour rapide
            {% elseif longueur == 'weekend' %}
                Petit week-end posé
            {% elseif longueur == 'semaine' %}
                Grande semaine de détente
            {% elseif longueur == 'plus' %}
                Encore plus ? C'est parti !
            {% else %}
                Quoi donc alors ?
            {% endif %}
        </h2>
    </div>
{% endblock %}
